<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html::head(title='Task Manager - task')">
</head>
<body>
	<div align="center">
		<h1 th:text="'Add a project tag to task: ' + ${taskId}"> </h1>
		<form id="registerTaskForm"
			th:action="@{'/projects/' + ${projectId} + '/tasks/' +
					   ${taskId} + '/addTag'}"
			th:object="${tagForm}" method="POST">
			<table>
				<tr>
					<td><label for="tagNameInput">Tag name</label></td>
					<td><input id="tagNameInput" type="text" placeholder="TAG NAME"
						required th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						th:style="'color:red'"></td>
				</tr>
			</table>
			<button type="submit">Add tag to task</button>
		</form>
		<a href="/home" class="btn btn-primary">Home</a>
	</div>
</body>
</html>