.login-box-style {
	background-color: white;
	border-radius: 5px;
	width: 300px;
	box-shadow: 0px 0px 20px black;
	padding: 50px;
	margin: auto;
}

a:link {
	color: skyblue;
}

a:hover {
	color: blue;
}