<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head
	th:replace="fragments/base.html::head(title='Task Manager - task')">
</head>
<body>
	<div align="center">
		<h1>Register new task:</h1>
		<form id="registerCommentForm"
			th:action="@{'/tasks/' + ${taskId} + '/comment' }"
			th:object="${CommentForm}" method="POST">
			<table>
				<tr>
					<td><label for="commentNameInput">Comment name</label></td>
					<td><input id="commentNameInput" type="text" placeholder="TEXT"
						required th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						th:style="'color:red'"></td>
				</tr>

			</table>
			<button type="submit">Comment</button>
		</form>
		<a href="/home" class="btn btn-primary">Home</a>
	</div>
</body>
</html>